
<%= form_for @handy, html: { multipart: true } do |form| %>
    <p class="imagefont">


<table>
     <tr>
       <td>PC1 CDM</td>
       <td style="width:85%;"><%= form.file_field :image  %></td>
     </tr>
     <tr>
       <td>PC2 CDM</td>
       <td><%= form.file_field :image1  %></td>
     </tr>
     <tr>
       <td>PC3 CDM</td>
       <td><%= form.file_field :image2  %></td>
     </tr>
     <tr>
       <td>Benchmark</td>
       <td><%= form.file_field :image3  %></td>
     </tr>
</table>


<%= form_for(handy) do |f| %>
  <% if handy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(handy.errors.count, "error") %> prohibited this handy from being saved:</h2>

      <ul>
      <% handy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<h1>Product</h1>
<br>

<table style="width:50%;">
 <tr >
  <td  >Item:</td>
  <td  style="width:70%;"><%= form.number_field :item %></td>
  </tr>
  <tr >
  <td  >PCC Item:</td>
  <td  ><%= form.number_field :pccitem %></td>
  </tr>
  <tr>
    <td  >Schedule:</td>
    <td  ><%= form.text_field :schedule %></td>
  </tr>
  <tr>
    <td  >Receive Date:</td>
    <td  ><%= form.text_field :receivedate %></td>
  </tr>
   <tr>
    <td  >Product P/N:</td>
    <td ><%= form.text_field :prodpn %></td>
  </tr>
   <tr>
    <td  > Controller:</td>
    <td ><%= form.text_field :solution %> </td>
  </tr>
   <tr>
    <td  > Flash:</td>
    <td ><%= form.text_field :ftype %></td>
  </tr>
   <tr>
    <td  >Description:</td>
    <td ><%= form.text_field :desc %></td>
  </tr>
  <tr>
    <td  >Capacity:</td>
    <td ><%= form.text_field :capacity %></td>
  </tr>
   <tr>
    <td  >PCB Version:</td>
    <td ><%= form.text_field :fwvversion %></td>
  </tr>
   <tr>
    <td  >Qualification:</td>
    <td ><%= form.text_field :qual %></td>
  </tr>

   <tr>
    <td >Start date:</td>
    <td ><%= form.text_field :startdate %></td>
  </tr>
  <tr>
    <td >Finish date:</td>
    <td ><%= form.text_field :finishdate %></td>
  </tr>
  <tr>
    <td >Test Result:</td>
    <td ><%= form.text_field :testres %></td>
  </tr>
  <tr>
    <td >Owner:</td>
    <td ><%= form.text_field :owner %></td>
  </tr>
  <tr>
    <td >Remark:</td>
    <td ><%= form.text_field :remark %></td>
  </tr>
  <tr>
    <td >Product Name:</td>
    <td ><%= form.text_field :prodname %></td>
  </tr>
  <tr>
    <td >PCB Version:</td>
    <td ><%= form.text_field :pcbvers %></td>
  </tr>
  <tr>
    <td >Report Name:</td>
    <td ><%= form.text_field :rpname %></td>
  </tr>
   <tr>
    <td >Report Date:</td>
    <td ><%= form.text_field :rpdate %></td>
  </tr>
   <tr>
    <td >Approve Name:</td>
    <td ><%= form.text_field :approvename %></td>
  </tr>
  <tr>
    <td >Read:</td>
    <td ><%= form.text_field :read %></td>
  </tr>
  <tr>
    <td >Write:</td>
    <td ><%= form.text_field :write %></td>
  </tr>
   <tr>
    <td >Explain:</td>
    <td ><%= form.text_field :expl %></td>
  </tr>
  </table>



  <h1>PC1</h1>
<table style="width:50%;">
  <tr>
    <td >PC1 OS:</td>
    <td style="width:70%;"><%= form.text_field :pc1os %></td>
  </tr>
  <tr>
    <td >PC1 M/B :</td>
    <td ><%= form.text_field :pc1mb %></td>
  </tr>
  <tr>
    <td >PC1 Vendor:</td>
    <td ><%= form.text_field :pc1vendor %></td>
  </tr>
  <tr>
    <td >PC1 Chip:</td>
    <td ><%= form.text_field :pc1chip %></td>
  </tr>
   <tr>
    <td >PC1 Bios:</td>
    <td ><%= form.text_field :pc1bios %></td>
  </tr>
  <tr>
    <td >PC1 Basic:</td>
    <td ><%= form.text_field :pc1basic %></td>
  </tr>
  <tr>
    <td >PC1 LED:</td>
    <td ><%= form.text_field :pc1led %></td>
  </tr>
  <tr>
    <td >PC1 Comp32:</td>
    <td ><%= form.text_field :pc1comp32 %></td>
  </tr>
  <tr>
    <td >PC1 Burnin:</td>
    <td ><%= form.text_field :pc1burnin %></td>
  </tr>

   <tr>
    <td >PC1 FAT:</td>
    <td ><%= form.text_field :pc1fat %></td>
  </tr>
   <tr>
    <td >PC1 FAT32:</td>
    <td ><%= form.text_field :pc1fat32 %></td>
  </tr>
   <tr>
    <td >PC1 NTFS:</td>
    <td ><%= form.text_field :pc1ntfs %></td>
  </tr>
   <tr>
    <td >PC1 exFAT:</td>
    <td ><%= form.text_field :pc1exfat %></td>
  </tr>
  <br>
    <tr>
    <td >PC1 CDM Read:</td>
    <td ><%= form.text_field :cdmread %></td>
  </tr>
  <tr>
    <td >PC1 CDM Write:</td>
    <td ><%= form.text_field :cdmwrite %></td>
  </tr>
  <tr>
    <td >PC1 CDM Read 512:</td>
    <td ><%= form.text_field :rdr112 %></td>
  </tr>
  <tr>
    <td >PC1 CDM Write 512:</td>
    <td ><%= form.text_field :rdw112 %></td>
  </tr>
  <tr>
    <td >PC1 CDM Random Read 4K:</td>
    <td ><%= form.text_field :rdr4k %></td>
  </tr>
  <tr>
    <td >PC1 CDM Random Write 4K:</td>
    <td ><%= form.text_field :rdw4k %></td>
  </tr>
  <tr>
    <td >PC1 CDM Random Read QD32 4K:</td>
    <td ><%= form.text_field :rdrqd324k %></td>
  </tr>
  <tr>
    <td >PC1 CDM Random Write QD324K:</td>
    <td ><%= form.text_field :rdwqd324k %></td>
  </tr>
  <tr>
    <td >PC1 Result:</td>
    <td ><%= form.text_field :pc1result %></td>
  </tr>
  </table>

<h1>PC2</h1>
<table style="width:50%;">
  <tr>
    <td >PC2 OS:</td>
    <td style="width:70%;"><%= form.text_field :pc2os %></td>
  </tr>
  <tr>
    <td >PC2 M/B :</td>
    <td ><%= form.text_field :pc2mb %></td>
  </tr>
  <tr>
    <td >PC2 Vendor:</td>
    <td ><%= form.text_field :pc2vendor %></td>
  </tr>
  <tr>
    <td >PC2 Chip:</td>
    <td ><%= form.text_field :pc2chip %></td>
  </tr>
   <tr>
    <td >PC2 Bios:</td>
    <td ><%= form.text_field :pc2bios %></td>
  </tr>
  <tr>
    <td >PC2 Basic:</td>
    <td ><%= form.text_field :pc2basic %></td>
  </tr>
  <tr>
    <td >PC2 LED:</td>
    <td ><%= form.text_field :pc2led %></td>
  </tr>
  <tr>
    <td >PC2 Comp32:</td>
    <td ><%= form.text_field :pc2comp32 %></td>
  </tr>
  <tr>
    <td >PC2 Burnin:</td>
    <td ><%= form.text_field :pc2burnin %></td>
  </tr>

   <tr>
    <td >PC2 FAT:</td>
    <td ><%= form.text_field :pc2fat %></td>
  </tr>
   <tr>
    <td >PC2 FAT32:</td>
    <td ><%= form.text_field :pc2fat32 %></td>
  </tr>
   <tr>
    <td >PC2 NTFS:</td>
    <td ><%= form.text_field :pc2ntfs %></td>
  </tr>
   <tr>
    <td >PC2 exFAT:</td>
    <td ><%= form.text_field :pc2exfat %></td>
  </tr>
  <br>
    <tr>
    <td >PC2 CDM Read:</td>
    <td ><%= form.text_field :pc2cdmread %></td>
  </tr>
  <tr>
    <td >PC2 CDM Write:</td>
    <td ><%= form.text_field :pc2cdmwrite %></td>
  </tr>
  <tr>
    <td >PC2 CDM Read 512:</td>
    <td ><%= form.text_field :pc2rdr112 %></td>
  </tr>
  <tr>
    <td >PC2 CDM Write 512:</td>
    <td ><%= form.text_field :pc2rdw112 %></td>
  </tr>
  <tr>
    <td >PC2 CDM Random Read 4K:</td>
    <td ><%= form.text_field :pc2rdr4k %></td>
  </tr>
  <tr>
    <td >PC2 CDM Random Write 4K:</td>
    <td ><%= form.text_field :pc2rdw4k %></td>
  </tr>
  <tr>
    <td >PC2 CDM Random Read QD32 4K:</td>
    <td ><%= form.text_field :pc2rdrqd324k %></td>
  </tr>
  <tr>
    <td >PC2 CDM Random Write QD324K:</td>
    <td ><%= form.text_field :pc2rdwqd324k %></td>
  </tr>
  <tr>
    <td >PC2 Result:</td>
    <td ><%= form.text_field :pc2result %></td>
  </tr>
  </table>


  <h1>PC3</h1>
<table style="width:50%;">
  <tr>
    <td >PC3 OS:</td>
    <td style="width:70%;"><%= form.text_field :pc3os %></td>
  </tr>
  <tr>
    <td >PC3 M/B :</td>
    <td ><%= form.text_field :pc3mb %></td>
  </tr>
  <tr>
    <td >PC3 Vendor:</td>
    <td ><%= form.text_field :pc3vendor %></td>
  </tr>
  <tr>
    <td >PC3 Chip:</td>
    <td ><%= form.text_field :pc3chip %></td>
  </tr>
   <tr>
    <td >PC3 Bios:</td>
    <td ><%= form.text_field :pc3bios %></td>
  </tr>
  <tr>
    <td >PC3 Basic:</td>
    <td ><%= form.text_field :pc3basic %></td>
  </tr>
  <tr>
    <td >PC3 LED:</td>
    <td ><%= form.text_field :pc3led %></td>
  </tr>
  <tr>
    <td >PC3 Comp32:</td>
    <td ><%= form.text_field :pc3comp32 %></td>
  </tr>
  <tr>
    <td >PC3 Burnin:</td>
    <td ><%= form.text_field :pc3burnin %></td>
  </tr>

   <tr>
    <td >PC3 FAT:</td>
    <td ><%= form.text_field :pc3fat %></td>
  </tr>
   <tr>
    <td >PC3 FAT32:</td>
    <td ><%= form.text_field :pc3fat32 %></td>
  </tr>
   <tr>
    <td >PC3 NTFS:</td>
    <td ><%= form.text_field :pc3ntfs %></td>
  </tr>
   <tr>
    <td >PC3 exFAT:</td>
    <td ><%= form.text_field :pc3exfat %></td>
  </tr>
  <br>
    <tr>
    <td >PC3 CDM Read:</td>
    <td ><%= form.text_field :pc3cdmread %></td>
  </tr>
  <tr>
    <td >PC3 CDM Write:</td>
    <td ><%= form.text_field :pc3cdmwrite %></td>
  </tr>
  <tr>
    <td >PC3 CDM Read 512:</td>
    <td ><%= form.text_field :pc3rdr112 %></td>
  </tr>
  <tr>
    <td >PC3 CDM Write 512:</td>
    <td ><%= form.text_field :pc3rdw112 %></td>
  </tr>
  <tr>
    <td >PC3 CDM Random Read 4K:</td>
    <td ><%= form.text_field :pc3rdr4k %></td>
  </tr>
  <tr>
    <td >PC3 CDM Random Write 4K:</td>
    <td ><%= form.text_field :pc3rdw4k %></td>
  </tr>
  <tr>
    <td >PC3 CDM Random Read QD32 4K:</td>
    <td ><%= form.text_field :pc3rdrqd324k %></td>
  </tr>
  <tr>
    <td >PC3 CDM Random Write QD324K:</td>
    <td ><%= form.text_field :pc3rdwqd324k %></td>
  </tr>
  <tr>
    <td >PC3 Result:</td>
    <td ><%= form.text_field :pc3result %></td>
  </tr>
  </table>

  
  <h1>PC4</h1>
<table style="width:50%;">
  <tr>
    <td >PC4 OS:</td>
    <td style="width:70%;"><%= form.text_field :pc4os %></td>
  </tr>
  <tr>
    <td >PC4 M/B :</td>
    <td ><%= form.text_field :pc4mb %></td>
  </tr>
  <tr>
    <td >PC4 Vendor:</td>
    <td ><%= form.text_field :pc4vendor %></td>
  </tr>
  <tr>
    <td >PC4 Chip:</td>
    <td ><%= form.text_field :pc4chip %></td>
  </tr>
   <tr>
    <td >PC4 Bios:</td>
    <td ><%= form.text_field :pc4bios %></td>
  </tr>
  <tr>
    <td >PC4 Basic:</td>
    <td ><%= form.text_field :pc4basic %></td>
  </tr>
  <tr>
    <td >PC4 LED:</td>
    <td ><%= form.text_field :pc4led %></td>
  </tr>
  <tr>
    <td >PC4 ext34:</td>
    <td ><%= form.text_field :pc4ext34 %></td>
  </tr>
  <tr>
    <td >PC4 Result:</td>
    <td ><%= form.text_field :pc4result %></td>
  </tr>
</table>


<h1>PC5</h1>
<table style="width:50%;">
  <tr>
    <td >PC5 OS:</td>
    <td style="width:70%;"><%= form.text_field :pc5os %></td>
  </tr>
  <tr>
    <td >PC5 M/B :</td>
    <td ><%= form.text_field :pc5mb %></td>
  </tr>
  <tr>
    <td >PC5 Vendor:</td>
    <td ><%= form.text_field :pc5vendor %></td>
  </tr>
  <tr>
    <td >PC5 Chip:</td>
    <td ><%= form.text_field :pc5chip %></td>
  </tr>
   <tr>
    <td >PC5 Bios:</td>
    <td ><%= form.text_field :pc5bios %></td>
  </tr>
  <tr>
    <td >PC5 Basic:</td>
    <td ><%= form.text_field :pc5basic %></td>
  </tr>
  <tr>
    <td >PC5 LED:</td>
    <td ><%= form.text_field :pc5led %></td>
  </tr>
  <tr>
    <td >PC5 Result:</td>
    <td ><%= form.text_field :pc5result %></td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>

 
<% end %>
<% end %>
