<!--  page 1 Top --> 

     <div id="text-center"> <%= wicked_pdf_image_tag 'topbar.png' %></div>
    
<br><br><br>

<h1 id="text-center">Product Qualification</h1>
<br>
<h1 id="compatibility">--- Compatibility Test ---</h1>

<br><br><br>


  <table style="width:50%;">
  <tr>
  <td id="desc" >Product Name:</td>
  <td id="descline" ><%= @handy.prodname %></td>
  </tr>
  <tr>
    <td id="desc" >Product P/N:</td>
    <td id="descline" ><%= @handy.prodpn %></td>
  </tr>
   <tr>
    <td id="desc" >Firmware Version:</td>
    <td id="descline"><%= @handy.fwvversion %></td>
  </tr>
   <tr>
    <td id="desc" > Description:</td>
    <td id="descline"><%= @handy.desc %></td>
  </tr>
   <tr>
    <td id="desc" > Controller:</td>
    <td id="descline"><%= @handy.solution %></td>
  </tr>
   <tr>
    <td id="desc" >Flash Type:</td>
    <td id="descline"><%= @handy.ftype %></td>
  </tr>
   <tr>
    <td id="desc" >PCB Version:</td>
    <td id="descline"><%= @handy.pcbvers %></td>
  </tr>
   <tr>
    <td id="desc" >Qualification:</td>
    <td id="descline"><%= @handy.qual %></td>
  </tr>
   <tr>
    <td id="desc">Test Result:</td>
    <td id="descline"><%= @handy.testres %></td>
  </tr>
   <tr>
    <td id="desc" >Explain:</td>
    <td id="descline"><%= @handy.prodname %> <%= @handy.capacity %> <%= @handy.qual %> <%= @handy.solution %> <%=@handy.ftype %></td>
  </tr>
  </table>

    <br><br><br><br>
    
  <div style="font-weight:bold;" id="tablecolor" class="static">
  APPROVAL
  </div>
<table style="border-collapse:collapse;width: 100%;text-align:center;border:1px solid black;font-weight:bold; ">
 <tr style="border:1px solid black;text-align:center;" id="tablecolor ">

    <td id="border1px">QT</td>
    <td id="border1px">Date</td>
    <td id="border1px">Signature</td>
    <td id="border1px">Approved by</td>
    <td id="border1px">Date</td>
    <td id="border1px">Signature</td>
  </tr>
  <tr style="border: 1px solid black;text-align: center;">
    <td style="border:1px solid black;height:40px;"><%= @handy.rpname %></td>
    <td id="border1px"><%= @handy.rpdate%></td>
    <td id="border1px"><%= @handy.rpname%></td>
    <td id="border1px"><%= @handy.approvename %></td>
    <td id="border1px"><%= @handy.rpdate%></td>
    <td id="border1px"><%= @handy.approvename%></td>
  </tr>
</table>
<p style="border-bottom-style:solid;border-bottom: 2px solid;"></p>
<pre><b>Form No: PCRD002-F05-02</b>                     <b>1</b></pre>
     <div style="text-align: right;"> <%= wicked_pdf_image_tag 'bottombar.png' %></div>

<!--  page 1 Bottom -->
<!--  page 2 Top -->

      <div id="text-center"> <%= wicked_pdf_image_tag 'topbar.png' %></div>

<p style="text-align:center;text-decoration:underline;">Table Of Content</p>

<div id="bolder">SUMMARY RESULT</div>
<ol class="eng" class="height">
  <li id="bolder">Function Test With M/B :<%= @handy.pc1mb%></li>
    <ol class="dec"> 
      <li class="height">Basic Function Test</li>
      <li class="height">Format Test</li>
      <li class="height">Burn In Test</li>
      <li class="height">Read/ Write Speed Test</li>
      <li class="height">Test Result</li>
  </ol>
    
  <li id="bolder">Function Test With M/B :<%= @handy.pc2mb%></li>
  <ol class="dec">
      <li class="height">Basic Function Test</li>
      <li class="height">Format Test</li>
      <li class="height">Burn In Test</li>
      <li class="height">Read/ Write Speed Test</li>
      <li class="height">Test Result</li>
      </ol>
   
  
      <li id="bolder">Platform Compatibility Test :</li>
      <li id="bolder">Additional Qualification :</li>
  <ol class="dec">
      <li class="height">Environmental</li>
      <li class="height">Certification</li>
  </ol>
  </ol>


<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

    <p style="border-bottom-style:solid;border-bottom: 2px solid;"></p>
    <pre><b>Form No: PCRD002-F05-02</b>                     <b>2</b></pre>
    <div style="text-align: right;"> <%= wicked_pdf_image_tag 'bottombar.png' %></div>
<!--  page 2 Bottom -->
<!--  page 3 Top -->

     <div id="text-center"> <%= wicked_pdf_image_tag 'topbar.png' %></div>


<div id="bolder">SUMMARY RESULT</div>

<table style="border-collapse:collapse;text-align:center;border:1px solid black; >
 <tr id="border1px" >
    <td colspan="2" class="colord6">  </td>
    <td id="border1px" class="colord6"><b>PC1</b></td>
    <td id="border1px" class="colord6"><b>PC2</b></td>
    <td id="border1px" class="colord6"><b></b></td>
    <td id="border1px" class="colord6"><b></b></td>
    <td id="border1px" class="colord6"><b></b></td>
  </tr>
  <tr id="border1px">
    <td colspan="2" id="border1px">Testing Product</td>
    <td colspan="5" id="border1px"><%= @handy.desc %></td>
  </tr>
  <tr id="border1px">
    <td colspan="2" id="border1px">System</td>
    <td id="border1px" style="height:35px;width:20%"><%= @handy.pc1os%></td>
    <td id="border1px" style="height:35px;width:20%"><%= @handy.pc2os%></td>
    <td id="border1px" style="height:35px;width:20%"></td>
    <td id="border1px" style="height:35px;width:20%"></td>
    <td id="border1px" style="height:35px;width:20%"></td>
  </tr>
  <tr id="border1px" id="border1px">
    <td rowspan="4"  id="border1px">MB</td>
    <td id="border1px">Name</td>
    <td id="border1px" style="height:35px;width:20%"><%= @handy.pc1mb %></td>
    <td id="border1px" style="height:35px;width:20%"><%= @handy.pc2mb %></td>
    <td id="border1px" style="height:35px;width:20%"></td>
    <td id="border1px" style="height:35px;width:20%"></td>
    <td id="border1px" style="height:35px;width:20%"></td>
  </tr>
  <tr id="border1px" >
    <td id="border1px">Vendor</td>
    <td id="border1px" style="height:35px;width:20%"><%= @handy.pc1vendor %></td>
    <td id="border1px"><%= @handy.pc2vendor %></td>
    <td id="border1px"></td>
    <td id="border1px"></td>
    <td id="border1px"></td>
  </tr>
  <tr id="border1px" >
    <td id="border1px">Chipset</td>
    <td id="border1px" style="height:35px;width:20%"><%= @handy.pc1chip %></td>
    <td id="border1px" style="height:35px;width:20%"><%= @handy.pc2chip %></td>
    <td id="border1px" style="height:35px;width:20%"></td>
    <td id="border1px" style="height:35px;width:20%"></td>
    <td id="border1px" style="height:35px;width:20%"></td>
  </tr>
    <tr id="border1px" >
    <td id="border1px">BIOS</td>
    <td id="border1px" style="height:35px;width:20%"><%= @handy.pc1bios%></td>
    <td id="border1px"><%= @handy.pc2bios%></td>
    <td id="border1px"></td>
    <td id="border1px"></td>
    <td id="border1px"></td>
  </tr id="border1px" >
  <tr id="border1px" >
    <td colspan="7" class="colord6"><b>Test Result</b></td>
  </tr>
   <tr id="border1px" >
    <td colspan="2"  id="border1px">Basic Function Test</td>
    <td id="border1px"><%= @handy.pc1basic %></td>
    <td id="border1px"><%= @handy.pc2basic %></td>
    <td id="border1px"></td>
    <td id="border1px"></td>
    <td id="border1px"></td>
  </tr>
   <tr id="border1px" >
    <td rowspan="2"  >Burn In Test</td>
    <td id="border1px" >Comp32</td>
    <td id="border1px"><%= @handy.pc1comp32 %></td>
    <td id="border1px"><%= @handy.pc2comp32 %> </td>
    <td id="border1px"></td>
    <td id="border1px"> </td>
    <td id="border1px"> </td>
  </tr>
   <tr id="border1px" >
    <td  id="border1px">BurnIn test </td>
    <td id="border1px"><%= @handy.pc1burnin %></td>
    <td id="border1px"><%= @handy.pc2burnin %></td>
    <td id="border1px"></td>
    <td id="border1px"> </td>
    <td id="border1px"> </td>
  </tr>
  <tr >
    <td colspan="7" style="text-align: left;" ><b>Remark:</b></td>
  </tr>
   <tr  >
    <td colspan="7" style="text-align: center;"><b>Test Result - <%= @handy.testres %> </b></td>
  </tr>
</table>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>


      <p style="border-bottom-style:solid;border-bottom: 2px solid;"></p>
      <pre><b>Form No: PCRD002-F05-02</b>                     <b>3</b></pre>
      <div style="text-align: right;"> <%= wicked_pdf_image_tag 'bottombar.png' %></div>

<!--  page 3 Bottom -->
<!--  page 4 Top --> 
       <div id="text-center"> <%= wicked_pdf_image_tag 'topbar.png' %></div>


<p id="bolder">A.  Function Test With M/B : <%= @handy.pc1mb%></p>
<table style="width:100%;border-collapse:collapse;" >
<tr id="border1px" >
  <td id="text-cent-col-bord" style="height:30px;width:25%;font-weight:bolder;">Testing Product</td>
  <td id="border1px" style="height:30px;width:35%;"><%= @handy.desc%></td>
  <td id="text-cent-col-bord" style="height:30px;width:20%;font-weight:bolder;">Testing Engineer</td>
  <td id="border1px" style="height:30px;width:30%;"><%= @handy.rpname %></td>
</tr>

<tr >
  <td rowspan="2" style="height:60px;width:20%;font-weight:bolder;border-bottom: 1px solid black" id="text-cent-col-bord">Testing Environment</td>
  <td >Brand: <%= @handy.pc1vendor%></td>
  <td >Chipset: <%= @handy.pc1chip%></td>
  <td style="border-right: 1px solid black;">BIOS: <%= @handy.pc1bios %></td>
</tr>
<tr style="border-bottom: 1px solid black;">
  <td>M/B: <%= @handy.pc1mb %></td>
  <td colspan="2" style="border-right: 1px solid black;"></td>
  <td></td>
</tr>
</table>
<ol>
<li>Basic Function Test
<table style="border-collapse:collapse;border: 1px solid black;padding-top: 15px;">  
  <tr style="border: 1px solid black">
     <td id="text-cent-col-bord" style="width:13%;"></td> 
     <td id="text-cent-col-bord" style="width:10%;">Hot Plug</td> 
     <td id="text-cent-col-bord" style="width:10%;">Safe Removed</td>
     <td id="text-cent-col-bord" style="width:10%;">Suspend  (S3)</td> 
     <td id="text-cent-col-bord" style="width:10%;">Hibernate  (S4)</td> 
     <td id="text-cent-col-bord" style="width:10%;">Restart</td> 
     <td id="text-cent-col-bord" style="width:10%;">LED</td> 
     <td id="text-cent-col-bord" style="width:10%;">Copy</td> 
     <td id="text-cent-col-bord" style="width:10%;">Delete</td>  
  </tr>
  <tr style="border: 1px solid black">
     <td id="text-cent-col-bord"><%= @handy.pc1os %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc1basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc1basic %></td>
     <td id="border1px" style="text-align: center;"><%= @handy.pc1basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc1basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc1basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc1led %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc1basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc1basic %></td>
  </tr>
</table>
</li>
<li style="padding-top: 15px;">Format Test
  <table style="border-collapse:collapse;border: 1px solid black;width:70%;border">
    <tr style="border: 1px solid black">
      <td id="text-cent-col-bord" style="width:20%;"></td>
      <td id="text-cent-col-bord" style="width:20%;">FAT</td>
      <td id="text-cent-col-bord" style="width:20%;">FAT32</td>
      <td id="text-cent-col-bord" style="width:20%;">NTFS</td>
      <td id="text-cent-col-bord" style="width:20%;">exFAT</td>
    </tr>
    <tr style="border: 1px solid black">
      <td id="text-cent-col-bord" style="width:20%;"><%= @handy.pc1os %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc1fat %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc1fat32 %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc1ntfs %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc1exfat %></td>
    </tr>
   
  </table>
</li>
<li style="padding-top: 15px;">Burn in test
  <table style="border-collapse:collapse;border: 1px solid black;width:50%;border">
    <tr style="border: 1px solid black">
      <td id="text-cent-col-bord" style="width: 28%;"></td>
      <td id="text-cent-col-bord" style="width: 35%;">Comp32 15hrs</td>
      <td id="text-cent-col-bord" style="width: 35%;">Burn In Test V6.0 15hrs</td>
    </tr>
    <tr style="border: 1px solid black">
      <td id="text-cent-col-bord"><%= @handy.pc1os %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc1comp32%></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc1burnin%></td>
    </tr>
    
    </table>
   <!--  <li style="padding-top: 15px;"> Read/ Write Speed Test
       <p><%= wicked_pdf_image_tag @handy.image.url(:medium) %></p>.
    </li> -->
    <li style="padding-top: 15px;"> Read/ Write Speed Test
      <!-- <p><%= wicked_pdf_image_tag @handy.image.url(:medium) %></p>  -->
    </li>
    
    <table style="border-collapse:collapse;border: 1px solid black;padding-top: 15px;">  
      <tr style="border: 1px solid black">
     <td id="text-cent-col-bord" style="width:20%;" rowspan=2></td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;" colspan="8" >Crystal DiskMark3.01b
Speed Test Unit =MB/s</td> 
    
  </tr>
  <tr style="border: 1px solid black">
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Read</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Write</td>
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random read 512K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random write 512K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random read 4K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random write 4K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random QD32 4K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random QD32 4K</td>  
  </tr>
  <tr style="border: 1px solid black">
     <td id="text-cent-col-bord"><%= @handy.pc1os %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.cdmread %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.cdmwrite %></td>
     <td id="border1px" style="text-align: center;"><%= @handy.rdr112 %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.rdw112 %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.rdr4k %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.rdw4k %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.rdrqd324k %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.rdwqd324k %></td>
  </tr>
</table>

    <table style="border-collapse:collapse;border: 1px solid black;width:100%;border">
    <li style="padding-top: 15px;">Test Result
       <tr  >
    <td  style="text-align: left;"><%= @handy.pc1result %></td>
      </tr>
    </li>
    </table>
</li>
</ol>
 <br><br><br><br><br><br><br><br><br><br><br><br><br>

      <br>
      <p style="border-bottom-style:solid;border-bottom: 2px solid;"></p>
      <pre><b>Form No: PCRD002-F05-02</b>                     <b>4</b></pre>
      <div style="text-align: right;"> <%= wicked_pdf_image_tag 'bottombar.png' %></div>

<!--  page 4 Bottom -->
<!--  page 5 Top --> 

      <div id="text-center"> <%= wicked_pdf_image_tag 'topbar.png' %></div>


<p id="bolder">B.  Function Test With M/B : <%= @handy.pc2mb%></p>
<table style="width:100%;border-collapse:collapse;" >
<tr id="border1px" >
  <td id="text-cent-col-bord" style="height:30px;width:25%;font-weight:bolder;">Testing Product</td>
  <td id="border1px" style="height:30px;width:35%;"><%= @handy.desc%></td>
  <td id="text-cent-col-bord" style="height:30px;width:20%;font-weight:bolder;">Testing Engineer</td>
  <td id="border1px" style="height:30px;width:30%;"><%= @handy.rpname %></td>
</tr>

<tr >
  <td rowspan="2" style="height:60px;width:20%;font-weight:bolder;border-bottom: 1px solid black" id="text-cent-col-bord">Testing Environment</td>
  <td >Brand: <%= @handy.pc2vendor%></td>
  <td >Chipset: <%= @handy.pc2chip%></td>
  <td style="border-right: 1px solid black;">BIOS: <%= @handy.pc2bios %></td>
</tr>
<tr style="border-bottom: 1px solid black;">
  <td>M/B: <%= @handy.pc2mb %></td>
  <td colspan="2" style="border-right: 1px solid black;"></td>
  <td></td>
</tr>
</table>
<ol>
<li >Basic Function Test
<table style="border-collapse:collapse;border: 1px solid black;">  
  <tr style="border: 1px solid black">
     <td id="text-cent-col-bord" style="width:13%;"></td> 
     <td id="text-cent-col-bord" style="width:10%;">Hot Plug</td> 
     <td id="text-cent-col-bord" style="width:10%;">Safe Removed</td>
     <td id="text-cent-col-bord" style="width:10%;">Suspend  (S3)</td> 
     <td id="text-cent-col-bord" style="width:10%;">Hibernate  (S4)</td> 
     <td id="text-cent-col-bord" style="width:10%;">Restart</td> 
     <td id="text-cent-col-bord" style="width:10%;">LED</td> 
     <td id="text-cent-col-bord" style="width:10%;">Copy</td> 
     <td id="text-cent-col-bord" style="width:10%;">Delete</td>  
  </tr>
  <tr style="border: 1px solid black">
     <td id="text-cent-col-bord"><%= @handy.pc2os %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2basic %></td>
     <td id="border1px" style="text-align: center;"><%= @handy.pc2basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2led %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2basic %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2basic %></td>
  </tr>
</table>
</li>
<li style="padding-top: 15px;">Format Test
  <table style="border-collapse:collapse;border: 1px solid black;width:70%;border">
    <tr style="border: 1px solid black">
      <td id="text-cent-col-bord" style="width:20%;"></td>
      <td id="text-cent-col-bord" style="width:20%;">FAT</td>
      <td id="text-cent-col-bord" style="width:20%;">FAT32</td>
      <td id="text-cent-col-bord" style="width:20%;">NTFS</td>
      <td id="text-cent-col-bord" style="width:20%;">exFAT</td>
    </tr>
    <tr style="border: 1px solid black">
      <td id="text-cent-col-bord" style="width:20%;"><%= @handy.pc2os %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc2fat %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc2fat32 %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc2ntfs %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc2exfat %></td>
    </tr>
   
  </table>
</li>
<li style="padding-top: 15px;">Burn in test
  <table style="border-collapse:collapse;border: 1px solid black;width:50%;border">
    <tr style="border: 1px solid black">
      <td id="text-cent-col-bord" style="width: 28%;"></td>
      <td id="text-cent-col-bord" style="width: 35%;">Comp32 15hrs</td>
      <td id="text-cent-col-bord" style="width: 35%;">Burn In Test V6.0 15hrs</td>
    </tr>
    <tr style="border: 1px solid black">
      <td id="text-cent-col-bord"><%= @handy.pc2os %></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc2comp32%></td>
      <td id="border1px" style="text-align: center;"><%= @handy.pc2burnin%></td>
    </tr>
    
    </table>
     <li style="padding-top: 15px;"> Read/ Write Speed Test
      <!-- <p><%= wicked_pdf_image_tag @handy.image1.url(:medium) %></p>. -->
    </li>

    <table style="border-collapse:collapse;border: 1px solid black;padding-top: 15px;">  
      <tr style="border: 1px solid black">
     <td id="text-cent-col-bord" style="width:20%;" rowspan=2></td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;" colspan="8" >Crystal DiskMark3.01b
Speed Test Unit =MB/s</td> 
    
  </tr>
  <tr style="border: 1px solid black">
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Read</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Write</td>
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random read 512K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random write 512K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random read 4K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random write 4K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random QD32 4K</td> 
     <td id="text-cent-col-bord" style="width:10%;font-size:12px;">Random QD32 4K</td>  
  </tr>
  <tr style="border: 1px solid black">
     <td id="text-cent-col-bord"><%= @handy.pc2os %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2cdmread %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2cdmwrite %></td>
     <td id="border1px" style="text-align: center;"><%= @handy.pc2rdr112 %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2rdw112 %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2rdr4k %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2rdw4k %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2rdrqd324k %></td> 
     <td id="border1px" style="text-align: center;"><%= @handy.pc2rdwqd324k %></td>
  </tr>
</table>

    <table style="border-collapse:collapse;border: 1px solid black;width:100%;border">
    <li style="padding-top: 15px;">Test Result
       <tr  >
    <td  style="text-align: left;"><%= @handy.pc2result %></td>
      </tr>
    </li>
    </table>
</li>
</ol>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <p style="border-bottom-style:solid;border-bottom: 2px solid;"></p>
      <pre><b>Form No: PCRD002-F05-02</b>                     <b>5</b></pre>
      <div style="text-align: right;"> <%= wicked_pdf_image_tag 'bottombar.png' %></div>

<!--  page 5 Bottom -->


<!--  page 6 Top --> 

     <div id="text-center"> <%= wicked_pdf_image_tag 'topbar.png' %></div>

<p id="bolder" >G.  Additional Qualification:</p>

<ol>
  <li>Environmental</li>
<pre class="newroman" style="margin : -12px;">
  <ol >
  <li style="margin : -12px;">RoHS Standard :                                        <u>2011/65/EU , 2015/863/EU</u></li>
  <li style="margin : -12px;">Other Environmental Standard :                <u>EC/1907/2006</u></li>
  <li style="margin : -12px;">WEEE (By Product) :                               <u>2012/19/EU</u></li>
  <li style="margin : -12px;">Battery Standard :                                     <u>2006/66/EC</u></li>
  <li style="margin : -12px;">Packing Standard :                                    <u>94/62/EC</u></li>
  <li style="margin : -12px;">Others :                                                     <u>CHINA RoHS MII#39</u></li>
  </ol>
</pre>
<br>
<li >Certification </li>
  <pre class="newroman" style="margin : -12px;">
  <ol>
    <li style="margin : -12px;">CE: NO.<u>                                                                                        </u></li>
    <li style="margin : -12px;">FCC: NO.<u>                                                                                      </u></li>
    <li style="margin : -12px;">BSMI: NO.<u>                                                                                    </u></li>
    <li style="margin : -12px;">VCCI: NO.<u>                                                                                    </u></li>
    <li style="margin : -12px;">C-tick: NO.<u>                                                                                    </u></li>
    <li style="margin : -12px;">Other: <u>                                                                                            </u></li>  
  </ol>
  </ol>
  
</pre>

<br><br><br><br><br><br><br><br><br><br>
<br><br><br>


    <p style="border-bottom-style:solid;border-bottom: 2px solid;padding-top: 8px;"></p>
    <pre><b>Form No: PCRD002-F05-02</b>                     <b>6</b></pre>
     <div style="text-align: right;"> <%= wicked_pdf_image_tag 'bottombar.png' %></div>
<!--  page 6 Bottom -->

</tbody>
</table>

