<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @handy.item %>
</p>

<p>
  <strong>Pccitem:</strong>
  <%= @handy.pccitem %>
</p>

<p>
  <strong>Receivedate:</strong>
  <%= @handy.receivedate %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @handy.startdate %>
</p>

<p>
  <strong>Finishdate:</strong>
  <%= @handy.finishdate %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @handy.solution %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @handy.schedule %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @handy.capacity %>
</p>

<p>
  <strong>Qual:</strong>
  <%= @handy.qual %>
</p>

<p>
  <strong>Read:</strong>
  <%= @handy.read %>
</p>

<p>
  <strong>Write:</strong>
  <%= @handy.write %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @handy.owner %>
</p>

<p>
  <strong>Prodname:</strong>
  <%= @handy.prodname %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @handy.desc %>
</p>

<p>
  <strong>Prodpn:</strong>
  <%= @handy.prodpn %>
</p>

<p>
  <strong>Fwvversion:</strong>
  <%= @handy.fwvversion %>
</p>

<p>
  <strong>Ftype:</strong>
  <%= @handy.ftype %>
</p>

<p>
  <strong>Pcbvers:</strong>
  <%= @handy.pcbvers %>
</p>

<p>
  <strong>Testres:</strong>
  <%= @handy.testres %>
</p>

<p>
  <strong>Expl:</strong>
  <%= @handy.expl %>
</p>

<p>
  <strong>Rpname:</strong>
  <%= @handy.rpname %>
</p>

<p>
  <strong>Rpdate:</strong>
  <%= @handy.rpdate %>
</p>

<p>
  <strong>Approvename:</strong>
  <%= @handy.approvename %>
</p>

<p>
  <strong>Explain:</strong>
  <%= @handy.explain %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @handy.remark %>
</p>

<%= link_to 'Edit', edit_handy_path(@handy) %> |
<%= link_to 'Back', handies_path %>
