<div style="text-align:center">
<h1>Contact Me</h1>

<%= form_for @contact do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name, required: true %>

<br>
<div >
<%= f.label :email %><br>
<%= f.text_field :email, required: true %>
</div>
<br>

<%= f.label :message %><br>
<%= f.text_area :message , rows: 8, cols: 40, required: true, placeholder: "Send a message to Gary." %>
<br>


<br>

<%= f.submit 'Send message' , class: "bottom" 'btn btn-primary'%>

<% end %>
	

</div>
