<%= form_for @eflashssd, html: { multipart: true } do |form| %>
    <p class="imagefont">
   
   <table >
  <tr>
  <td  >Before_CDM:</td>
  <td  style="width:83%;"><%= form.file_field :image1 %></td>
  </tr>
  <tr>
  <td  >After_CDM:</td>
  <td  ><%= form.file_field :image2 %></td>
  </tr>
  <tr>
  <td  >Benchmark:</td>
  <td  ><%= form.file_field :image3 %></td>
  </tr>
 </table>
</p>

<h1>Product</h1>
<br>

<table style="width:50%;">

  <tr >
  <td  >PCC Item:</td>
  <td  style="width:64%;"><%= form.number_field :pccitem %></td>
  </tr>
  <tr>
    <td  >Receive Date:</td>
    <td  ><%= form.text_field :receivedate %></td>
  </tr>
   <tr>
    <td  >Product P/N:</td>
    <td ><%= form.text_field :prodpn %></td>
  </tr>
  <tr>
    <td >Product Name:</td>
    <td ><%= form.text_field :prodname %></td>
  </tr>
  <tr>
    <td >PCB Version:</td>
    <td ><%= form.text_field :pcbvers %></td>
  </tr>
   <tr>
    <td  > Controller:</td>
    <td ><%= form.text_field :solution %> </td>
  </tr>
   <tr>
    <td  > Flash:</td>
    <td ><%= form.text_field :ftype %></td>
  </tr>
   <tr>
    <td  >Description:</td>
    <td ><%= form.text_field :desc %></td>
  </tr>
  <tr>
    <td  >Capacity:</td>
    <td ><%= form.text_field :capacity %></td>
  </tr>
   <tr>
    <td  >PCB Version:</td>
    <td ><%= form.text_field :fwvversion %></td>
  </tr>
   <tr>
    <td  >Qualification:</td>
    <td ><%= form.text_field :qual %></td>
  </tr>
   <tr>
    <td >Q'ty:</td>
    <td ><%= form.text_field :qty %></td>
  </tr>
   <tr>
    <td >Start date:</td>
    <td ><%= form.text_field :startdate %></td>
  </tr>
  <tr>
    <td >Finish date:</td>
    <td ><%= form.text_field :finishdate %></td>
  </tr>
  <tr>
    <td >Test Result:</td>
    <td ><%= form.text_field :testres %></td>
  </tr>
  <tr>
    <td >Owner:</td>
    <td ><%= form.text_field :owner %></td>
  </tr>
  <tr>
    <td >Remark:</td>
    <td ><%= form.text_field :remark %></td>
  </tr>
  <tr>
    <td >Report Name:</td>
    <td ><%= form.text_field :rpname %></td>
  </tr>
   <tr>
    <td >Report Date:</td>
    <td ><%= form.text_field :rpdate %></td>
  </tr>
   <tr>
    <td >Approve Name:</td>
    <td ><%= form.text_field :approvename %></td>
  </tr>

  </table>


<h1>PC1</h1>
<table style="width:50%;">
  <tr>
    <td >PC1 OS:</td>
    <td style="width:64%;"><%= form.text_field :pc1os %></td>
  </tr>
  <tr>
    <td >PC1 M/B :</td>
    <td ><%= form.text_field :pc1mb %></td>
  </tr>
  <tr>
    <td >PC1 Vendor:</td>
    <td ><%= form.text_field :pc1vendor %></td>
  </tr>
  <tr>
    <td >PC1 Chip:</td>
    <td ><%= form.text_field :pc1chip %></td>
  </tr>
   <tr>
    <td >PC1 Bios:</td>
    <td ><%= form.text_field :pc1bios %></td>
  </tr>
  <tr>
    <td >PC1 Interface :</td>
    <td ><%= form.text_field :pc1interface %></td>
  </tr>
  <tr>
    <td >PC1 Basic:</td>
    <td ><%= form.text_field :pc1basic %></td>
  </tr>
  <tr>
    <td >PC1 Comp32:</td>
    <td ><%= form.text_field :pc1comp32 %></td>
  </tr>
  <tr>
    <td >PC1 Burnin:</td>
    <td ><%= form.text_field :pc1burnin %></td>
  </tr>
  <tr>
    <td >PC1 WarmBoot:</td>
    <td ><%= form.text_field :pc1wboot %></td>
  </tr>
  <tr>
    <td >PC1 ColdBoot:</td>
    <td ><%= form.text_field :pc1cboot %></td>
  </tr>
  <tr>
    <td >PC1 FAT32:</td>
    <td ><%= form.text_field :pc1fat32 %></td>
  </tr>
  <tr>
    <td >PC1 NTFS:</td>
    <td ><%= form.text_field :pc1ntfs %></td>
  </tr>
  <tr>
    <td >PC1 LED:</td>
    <td ><%= form.text_field :pc1led %></td>
  </tr>
  <tr>
    <td >PC1 Result:</td>
    <td ><%= form.text_field :pc1result %></td>
  </tr>

  <tr>
    <td >PC 1 WindowsEmb 7 Standard:</td>
    <td ><%= form.text_field :pc1inos1 %></td>
  </tr>
  <tr>
    <td >PC 1 WindowsEmb 8 Standard:</td>
    <td ><%= form.text_field :pc1inos2 %></td>
  </tr>
  <tr>
    <td >PC 1 Windows Emb 81 Industry:</td>
    <td ><%= form.text_field :pc1inos3 %></td>
  </tr>
  <tr>
    <td >PC 1 Windows 10 Multiple Edition:</td>
    <td ><%= form.text_field :pc1inos4 %></td>
  </tr>
  <tr>
    <td >PC 1 Windows 10 Enterprise:</td>
    <td ><%= form.text_field :pc1inos5 %></td>
  </tr>
</table>


<h1>PC2</h1>
<table style="width:50%;" >
  <tr>
    <td >PC2 OS:</td>
    <td style="width:64%;"><%= form.text_field :pc2os %></td>
  </tr>
  <tr>
    <td >PC2 M/B :</td>
    <td ><%= form.text_field :pc2mb %></td>
  </tr>
  <tr>
    <td >PC2 Vendor:</td>
    <td ><%= form.text_field :pc2vendor %></td>
  </tr>
  <tr>
    <td >PC2 Chip:</td>
    <td ><%= form.text_field :pc2chip %></td>
  </tr>
   <tr>
    <td >PC2 Bios:</td>
    <td ><%= form.text_field :pc2bios %></td>
  </tr>
  <tr>
    <td >PC2 Interface :</td>
    <td ><%= form.text_field :pc2interface %></td>
  </tr>
  <tr>
    <td >PC2 Basic:</td>
    <td ><%= form.text_field :pc2basic %></td>
  </tr>
  <tr>
    <td >PC2 LED:</td>
    <td ><%= form.text_field :pc2led %></td>
  </tr>
  <tr>
    <td >PC2 Windows Embedded Standard 7:</td>
    <td ><%= form.text_field :pc2inos1 %></td>
  </tr>
  <tr>
    <td >PC 2 Windows Embedded 8 Standard:</td>
    <td ><%= form.text_field :pc2inos2 %></td>
  </tr>
  <tr>
    <td >PC2 Windows Emdded 8.1 Industry Pro:</td>
    <td ><%= form.text_field :pc2inos3 %></td>
  </tr>
  <tr>
    <td >PC 2 Windows 7:</td>
    <td ><%= form.text_field :pc2inos4 %></td>
  </tr>
  <tr>
    <td >PC 2 Windows 8.1:</td>
    <td ><%= form.text_field :pc2inos5 %></td>
  </tr>
  <tr>
    <td >PC 2 Fedora:</td>
    <td ><%= form.text_field :pc2inos6 %></td>
  </tr>
  <tr>
    <td >PC 2 Ubuntu::</td>
    <td ><%= form.text_field :pc2inos7 %></td>
  </tr>
  <tr>
    <td >PC 2 RedHat:</td>
    <td ><%= form.text_field :pc2inos8 %></td>
  </tr>
  <tr>
    <td >PC2 Result:</td>
    <td ><%= form.text_field :pc2result %></td>
  </tr>
</table>

<h1>PC3</h1>
<table style="width:50%;">
  <tr>
    <td >PC3 OS:</td>
    <td style="width:64%;"><%= form.text_field :pc3os %></td>
  </tr>
  <tr>
    <td >PC3 M/B :</td>
    <td ><%= form.text_field :pc3mb %></td>
  </tr>
  <tr>
    <td >PC3 Vendor:</td>
    <td ><%= form.text_field :pc3vendor %></td>
  </tr>
  <tr>
    <td >PC3 Chip:</td>
    <td ><%= form.text_field :pc3chip %></td>
  </tr>
   <tr>
    <td >PC3 Bios:</td>
    <td ><%= form.text_field :pc3bios %></td>
  </tr>
  <tr>
    <td >PC3 Interface :</td>
    <td ><%= form.text_field :pc3interface %></td>
  </tr>
 </table>

<h1>PC4</h1>
<table style="width:50%;">
  <tr>
    <td >PC4 OS:</td>
    <td style="width:64%;"><%= form.text_field :pc4os %></td>
  </tr>
  <tr>
    <td >PC4 M/B :</td>
    <td ><%= form.text_field :pc4mb %></td>
  </tr>
  <tr>
    <td >PC4 Vendor:</td>
    <td ><%= form.text_field :pc4vendor %></td>
  </tr>
  <tr>
    <td >PC4 Chip:</td>
    <td ><%= form.text_field :pc4chip %></td>
  </tr>
   <tr>
    <td >PC4 Bios:</td>
    <td ><%= form.text_field :pc4bios %></td>
  </tr>
  <tr>
    <td >PC4 Interface :</td>
    <td ><%= form.text_field :pc4interface %></td>
  </tr>
  
   </table>

  
 <div class="actions">
    <%= form.submit %>
  </div>

 
<% end %>
