<!DOCTYPE html>
<html>
  <head>
    <title>QT-報告產出系統</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1"/>

   <style>
    fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 30px 0 0 0;
    }
    .overflow {
      height: 200px;
    }
  </style>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <!--
  <script>
  $( function() {
    $( "#speed" ).selectmenu();
     $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
    $( "#files" ).selectmenu();
 
    $( "#number" )
      .selectmenu()
      .selectmenu( "menuWidget" )
        .addClass( "overflow" );
 
    $( "#salutation" ).selectmenu();
  } );
  </script>
-->

  </head>

  <body>
  <%=  render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
